export(chain.info)
export(chain.info.epiG)
export(compute_chunk_positions)
export(coverage)
export(coverage.epiG)
export(create_bisulfite_model)
export(create_error_distributions)
export(create_genotype_prior_alt)
export(create_genotype_prior_ref)
export(end)
export(end.epiG)
export(epiG)
export(epiG.algorithm.config)
export(epiG.chunks)
export(exp_decay)
export(fetch_alt)
export(fetch.reads)
export(fetch_reads_info)
export(fetch_ref)
export(genotype)
export(genotype.epiG)
export(length.epiG)
export(locate.DGCH)
export(locate.GCH)
export(locate.HCGD)
export(locate.SNP)
export(methylation)
export(methylation.epiG)
export(nchain)
export(nchain.epiG)
export(nchunks)
export(nchunks.epiG)
export(nread)
export(nread.epiG)
export(position.info)
export(position.info.epiG)
export(read.fasta)
export(read.info)
export(read.info.epiG)
export(start)
export(start.epiG)
export(strand)
export(strand.epiG)
export(subregion)
export(subregion.epiG)
export(symbols)
export(vector.search)
S3method(print,epiG)
S3method(print,epiG.config)
useDynLib(epiG,r_epiG_compute_chunk_positions)
useDynLib(epiG,r_epiG_fetch_reads)
useDynLib(epiG,r_epiG_fetch_reads_info)
useDynLib(epiG,r_epiG_haplo_fit_filename)
useDynLib(epiG,r_epiG_haplo_fit_filename_chunks)
useDynLib(epiG,r_epiG_locate)
useDynLib(epiG,r_epiG_read_fasta)
