export(compute_chunk_positions)
export(coverage)
export(create_bisulfite_model)
export(create_error_distributions)
export(create_genotype_prior)
export(create_genotype_prior_alt)
export(end.epiG)
export(epiG)
export(epiG.algorithm.config)
export(epiG.chunks)
export(exp_decay)
export(fetch_alt)
export(fetch_reads)
export(fetch_reads_info)
export(fetch_ref)
export(GCH)
export(genotype)
export(HCG)
export(locate)
export(locate_variation)
export(methylation)
export(occupancy)
export(print.epiG)
export(print.epiG.config)
export(start.epiG)
export(subregion)
export(symbols)
export(toRel)
useDynLib(epiG,r_epiG_compute_chunk_positions)
useDynLib(epiG,r_epiG_fetch_reads)
useDynLib(epiG,r_epiG_fetch_reads_info)
useDynLib(epiG,r_epiG_fit_filename)
useDynLib(epiG,r_epiG_fit_filename_chunks)
useDynLib(epiG,r_epiG_read_fasta)
